<!--This is the partial for the footer that is included in the each page of the website. this also contains the calls to bootstrap and jquery scripts-->
<!-- Adding jquery and bootstrap scripts-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
  <footer class="footer">
 
  <div class="text-center p-3 footer-style">
    © Chaitanya Sai Ambarukhana
  </div>
   
  
</footer>
</html>
