<!-- 
File Name: about.ejs
Student Name : Chaitanya Sai Ambarukhana
Student ID : 301150058
Date : 14/02/2021  

-->

<%- include partials/header.ejs %> <%- include partials/navbar.ejs %>
<!--About page-->
<div class="container mt-5 mb-5">
  <!--using bootstrap gridt o display my picture beside the information about me-->
  <div class="row">
    <div class="col-md-4 col-xs-4">
      <img
        class="image-fluid about-image"
        src="/Assets/images/my_image.jpg"
        alt="my image"
      />
    </div>
    <div class="col-md-8 col-xs-8 text-center mt-5">
      <h1>Chaitanya Sai Ambarukhana</h1>
      <!--name-->
      <br />

      <p style="font-size: medium">
        <!--Info about me-->
        I am a technology enthusiast and a passionate coder. I have good
        knowledge in Machine learning, Data Analysis, Python, Web development. I
        can analyse the data and make predictions using machine leaarning
        techniques. You can find my works in my
        <a href="/projects">projects</a> page.
      </p>
    </div>
  </div>
</div>
<div class="container mt-5 text-center">
  <p class="text-center">You can download my resume here</p>
  <a
    class="btn btn btn-primary"
    href="/Assets/files/Chaitanya_Resume.pdf"
    download="resume"
    >Download</a
  >
</div>

<div class="container mt-5">
  <!--Using bootstrap cards for my interests -->
  <h2 class="text-center">Interests</h2>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cricket</h5>
          <img
            class="img-fluid"
            src="/Assets/images/cricket.jpg"
            alt="cricket"
          />
          <div class="card-footer text-center">
            <a
              href="https://en.wikipedia.org/wiki/Cricket"
              class="btn btn-primary"
              >Know More</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Travel</h5>
          <img class="img-fluid" src="/Assets/images/travel.jfif" />
          <div class="card-footer text-center">
            <a
              class="btn btn-primary"
              href="https://en.wikipedia.org/wiki/Travel"
              >Know More</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Photography</h5>
          <img
            src="/Assets/images/photography.jpg"
            alt="photography"
            class="img-fluid"
          />
          <div class="card-footer text-center">
            <a
              href="https://en.wikipedia.org/wiki/Photography"
              class="btn btn-primary"
              >Know More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include partials/footer.ejs %>
