<!-- 
File Name: services.ejs
Student Name : Chaitanya Sai Ambarukhana
Student ID : 301150058
Date : 14/02/2021  

-->

<%- include partials/header.ejs %> 
<%- include partials/navbar.ejs %>

<section class="section-style">
  <h2 class="h2-services">Listed are my services. For more you can contact me by clicking <a href="/contact">here</a></h2>
  <div class="container "><!--Bootstrap grid to list out my services.-->
    <div class="row ">
      <div class="col-md-4  ">
        <img class="col-image-left img-fluid" src="/Assets/images/dataAnalysis.jpg" alt="">
      </div>
      <div class="col-md-6">
        <h2>Data Analysis</h2>
        <p>I have veru good data anlaysis skills and can manipulate the data as per the requirement. I have also done some projextes related to the
          field. 
        </p>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-6" style="margin-left: 10%;">
        <h2>Machine Learning</h2>
        <p>Machine Learning is now a widely used medium to predict elements on basis of available data. I have good experience working 
          with machine learning models to predict the required aspect based on data available. 
        </p>
      </div>
      <div class="col-md-4  ">
        <img class="col-image-right img-fluid" src="/Assets/images/machinelearning.jpeg" alt="">
      </div>
      </div>

      <div class="row ">
        <div class="col-md-4 ">
          <img class="col-image-left img-fluid" src="/Assets/images/webdevelopment.jpg" alt="">
        </div>
        <div class="col-md-6">
          <h2>Web Development</h2>
          <p>I am a MEAN stack developer. I can create professional looking websites for your company or your online business. 
          </p>
        </div>
      </div>
      
    </div>


  </div>
      



</section>
























<%- include partials/footer.ejs %>
